////////////////////////////////
// VARIABLES ///////////////////////
$base-font-size: 14px;

//Color
$c-default: #1e1e21;
$c-white: #FFFFFF;
$c-hover: #bada55;

$c-gold: #c9a779;
$c-cream: #e4d3bc;

$c-silver: #9fa0a2;
$c-gray: #b3b3b3;
$c-light: #dcd7cd;

$c-lightgray: #dedede;
$c-xlightgray: #efefef;

$c-mogo: #fc4e5e;
$c-red: #ee4441;
$c-pink: #d2527f;

$c-lightblue: #4ecdc4;
$c-blue: #538eca;
$c-fb: #44619d;
$c-darkblue: #44619d;
$c-navy: #252c3f;

$c-violet: #bf55ec;

$c-darkgreen: #26a65b;
$c-green: #a0b74e;

$c-lightondark: rgba(255,255,255,0.12);
$c-darknavy: #1c1f24; //28-31-36
$c-darktext: rgba(0,0,0,0.8);
$c-gray: #b3b3b3;

//work specific
$c-haeinsa: #cfbaa6;
$c-forest: #5e8f56;
$c-smile: #fed33b; //254,211,59
$c-saville: #f6c216;
$c-darwin: #00a98f;
$c-newrivers: #d08517;



////////////////////////////////
// FUNCTION ///////////////////////

@function pxtoem($px, $base: $base-font-size) {
  @return ($px / $base) + 0em;
}

//additional
%fullsize{
  width: 100%;
  height: 100%;
}

%link-normal{
  border-bottom: 1px solid transparent;
  &:hover{
    border-color:black;
  }
}

////////////////////////////////
// MIXIN ///////////////////////
@mixin font-sans($weight){
  // LT 300 / REG 400 / BOLD 700 / BLACK 900
  font-family: "neuzeit-grotesk", sans-serif;
  font-style: normal;
  font-weight: $weight;
}
// @mixin font-serif($weight){
//   // LT 300 / REG 400 / 400 + italic font-style
//   font-family:  "garamond-premier-pro-display";
//   font-style: normal;
//   font-weight: $weight;
// }


@mixin generate-type-size($scale){
  *{
    font-size: (14 * $scale) + 0px;
  }
  h1{
    @include font-sans(300);
    font-size: (72 * $scale) + 0px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  h2{
    @include font-sans(700);
    font-size: (48 * $scale) + 0px;
    padding-bottom: 14px;
  }
  h3{
    @include font-sans(700);
    font-size: (32 * $scale) + 0px;
    line-height: (44 * $scale) + 0px;
    padding-bottom: 10px;
  }
  h4{
    font-size: (28 * $scale) + 0px;
    line-height: (36 * $scale) + 0px;
  }
  h5
  {
    font-size: (24 * $scale) + 0px;
    line-height: (30 * $scale) + 0px;
  }
  h6{
    font-size: (20 * $scale) + 0px;
    line-height: (28 * $scale) + 0px;
    padding-bottom: 12px;
  }
  p.heading{
    @include font-sans(400);
    font-size: (14 * $scale) + 0px;
    line-height: (26 * $scale) + 0px;
    color: $c-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 12px;
  }
  p, p a{
    @include font-sans(300);
    font-size: (18 * $scale) + 0px;
    line-height: (26 * $scale) + 0px;
    color: $c-darktext;
    padding-bottom: 12px;
  }
  p.small{
    @include font-sans(300);
    font-size: (14 * $scale) + 0px;
    line-height: (18 * $scale) + 0px;
  }
  p.captionheader{
    text-align: center;
    @include font-sans(400);
    font-size: (14 * $scale) + 0px;
    padding-top: 4px;
    padding-bottom: 0;
  }
  p.caption, p.caption a,
  p.captionB, p.captionB a,
  p.captionnp, p.captionnp a{
    @include font-sans(300);
    font-size: (14 * $scale) + 0px;
    line-height: (18 * $scale) + 0px;
    text-align: center;
    clear:both;
    padding-top: 8px;
    padding-bottom: 0;
  }
  p.captionnp{
    padding-top: 0;
  }
}

@mixin font-lnum{
   -moz-font-feature-settings: "lnum";
   -webkit-font-feature-settings: "lnum";
   font-feature-settings: "lnum";
}


@mixin transition($duration, $range ,$ease) { //$delay can be added
  -webkit-transition: $duration $range $ease;
   -moz-transition: $duration $range $ease;
   -o-transition: $duration $range $ease;
    -ms-transition: $duration $range $ease;
      transition: $duration $range $ease;
}
@mixin transitiondelay($delay){
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin scale($size){
  -webkit-transform: scale($size);
  -moz-transform: scale($size);
  -o-transform: scale($size);
  -ms-transform: scale($size);
  transform: scale($size);
}

@mixin rotate($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin translateY($val){
  -webkit-transform: translateY($val);
  -moz-transform: translateY($val);
  -o-transform: translateY($val);
  -ms-transform: translateY($val);
  transform: translateY($val);
}

@mixin translateX($val){
  -webkit-transform: translateX($val);
  -moz-transform: translateX($val);
  -o-transform: translateX($val);
  -ms-transform: translateX($val);
  transform: translateX($val);
}

@mixin backgrounddefault{
  background-position: center center;
  background-repeat: none;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -ms-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

//Flexbox
//flex-wrap: nowrap, wrap, wrap-reverse;
// (-webkit-)order: <int>; //defines the structure order like z-index
// (-webkit-)grow: <int>; // default:0; if all 1, all have same size to fill the container size; if bigger, that one's bigger;
// (-webkit-)shrink: <int>; //default:1 so that it shrinks; if 0, it doesn't shrink;
@mixin flexbox($direction){ //row, column, row-reverse, column-reverse
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction:$direction;
      flex-direction:$direction;
}
@mixin flexbox-justify($direction){ //flex-start/end, center, space-around/between
  -webkit-justify-content:$direction;
      justify-content:$direction;
}
@mixin flexbox-align-content($direction){ 
      -webkit-align-content:$direction;
      align-content:$direction;
}
@mixin flexbox-align-items($direction){ // Y-axis
      -webkit-align-items:$direction;
      align-items:$direction; //[stretch], flex-start/end, center, baseline
}
@mixin flexbox-grow($size){ // Y-axis
      -webkit-flexbox-grow:$size;
      flexbox-grow:$size; //[stretch], flex-start/end, center, baseline
}
@mixin maintain-aspect-ratio($width, $height) {
  // position: relative;
  
  &:before{
    display: block;
    content: " ";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


////////////////////////////////
// LAYOUT ///////////////////////

//mobile
$susy: (
  columns: 12,
  container: 100%,
  gutters: 1/4,
  global-box-sizing: border-box
);


////////////////////////////////
// DEBUG ///////////////////////

@mixin debug{
  // background-color: none;
  background-color: rgba(242,109,105,0.2);
  // border:1px solid black;
}
*{
  // @include debug;
}