////////////////////////////////
// VARIABLES ///////////////////////
$base-font-size: 14px;

//Color
$c-default: #1e1e21;
$c-white: #FFFFFF;

$c-silver: #9fa0a2;
$c-gray: #b3b3b3;
$c-light: #dcd7cd;

$c-lightgray: #dedede;
$c-xlightgray: #efefef;

$c-mogo: #fc4e5e;
$c-pink: #d2527f;

////////////////////////////////
// FUNCTION ///////////////////////

@function pxtoem($px, $base: $base-font-size) {
  @return ($px / $base) + 0em;
}

//additional
%fullsize{
  width: 100%;
  height: 100%;
}

%link-normal{
  border-bottom: 1px solid transparent;
  &:hover{
    border-color:black;
  }
}

////////////////////////////////
// MIXIN ///////////////////////
@mixin font-sans($weight){
  // LT 300 / REG 400 / BOLD 700 / BLACK 900
  font-family: "neuzeit-grotesk", sans-serif;
  font-style: normal;
  font-weight: $weight;
}

@mixin generate-type-size($scale){
  *{
    font-size: (14 * $scale) + 0px;
  }
  h1{
    @include font-sans(400);
    font-size: (72 * $scale) + 0px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  h2{
    @include font-sans(400);
    font-size: (48 * $scale) + 0px;
    padding-bottom: 14px;
  }
  h3{
    @include font-sans(400);
    font-size: (32 * $scale) + 0px;
    line-height: (44 * $scale) + 0px;
    padding-bottom: 10px;
  }
  h4{
    font-size: (28 * $scale) + 0px;
    line-height: (36 * $scale) + 0px;
  }
  h5
  {
    font-size: (24 * $scale) + 0px;
    line-height: (30 * $scale) + 0px;
  }
  h6{
    font-size: (20 * $scale) + 0px;
    line-height: (28 * $scale) + 0px;
    padding-bottom: 12px;
  }
  p, p a{
    @include font-sans(300);
    font-size: (18 * $scale) + 0px;
    line-height: (26 * $scale) + 0px;
    padding-bottom: 12px;
  }
}

@mixin transition($duration, $range ,$ease) { //$delay can be added
  -webkit-transition: $duration $range $ease;
   -moz-transition: $duration $range $ease;
   -o-transition: $duration $range $ease;
    -ms-transition: $duration $range $ease;
      transition: $duration $range $ease;
}
@mixin transitiondelay($delay){
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin scale($size){
  -webkit-transform: scale($size);
  -moz-transform: scale($size);
  -o-transform: scale($size);
  -ms-transform: scale($size);
  transform: scale($size);
}

@mixin rotate($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin translateY($val){
  -webkit-transform: translateY($val);
  -moz-transform: translateY($val);
  -o-transform: translateY($val);
  -ms-transform: translateY($val);
  transform: translateY($val);
}

@mixin translateX($val){
  -webkit-transform: translateX($val);
  -moz-transform: translateX($val);
  -o-transform: translateX($val);
  -ms-transform: translateX($val);
  transform: translateX($val);
}

@mixin backgrounddefault{
  background-position: center center;
  background-repeat: none;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -ms-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

//Flexbox
//flex-wrap: nowrap, wrap, wrap-reverse;
// (-webkit-)order: <int>; //defines the structure order like z-index
// (-webkit-)grow: <int>; // default:0; if all 1, all have same size to fill the container size; if bigger, that one's bigger;
// (-webkit-)shrink: <int>; //default:1 so that it shrinks; if 0, it doesn't shrink;
@mixin flexbox($direction){ //row, column, row-reverse, column-reverse
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction:$direction;
      flex-direction:$direction;
}
@mixin flexbox-justify($direction){ //flex-start/end, center, space-around/between
  -webkit-justify-content:$direction;
      justify-content:$direction;
}
@mixin flexbox-align-content($direction){ 
      -webkit-align-content:$direction;
      align-content:$direction;
}
@mixin flexbox-align-items($direction){ // Y-axis
      -webkit-align-items:$direction;
      align-items:$direction; //[stretch], flex-start/end, center, baseline
}
@mixin flexbox-grow($size){ // Y-axis
      -webkit-flexbox-grow:$size;
      flexbox-grow:$size; //[stretch], flex-start/end, center, baseline
}
@mixin maintain-aspect-ratio($width, $height) {
  // position: relative;
  
  &:before{
    display: block;
    content: " ";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


////////////////////////////////
// LAYOUT ///////////////////////

//mobile
$susy: (
  columns: 12,
  container: 100%,
  gutters: 1/4,
  global-box-sizing: border-box
);


////////////////////////////////
// DEBUG ///////////////////////

@mixin debug{
  // background-color: none;
  background-color: rgba(242,109,105,0.2);
  // border:1px solid black;
}
*{
  // @include debug;
}