@import "../susy/susy";
@import "eugeneso";

$c-pink: #fa4e5e;
$c-gray1: #29292c;
// $c-gray1: rgba(30,30,33,1.0);
$c-gray2: #29292c;
$borderA: 2px;
$borderB: 5px;
$controller:64px;

$a-gray1: #eff1fe;
$a-white1: rgba(255,255,255,0.25);
$a-white2: rgba(255,255,255,0.5);
$a-white3: rgba(255,255,255,0.75);
$a-darkbg: rgba(30,30,30,1.0);

$buttonBorder: 4px;
$buttonPadding: 4px 6px;
@mixin buttonA{
	@include transition(all,100ms,linear);
	border-radius: $buttonBorder;
	padding: $buttonPadding;
	cursor: pointer;
	&:hover{
		background-color: $c-pink;
		color: white;
	}
}

*{
	margin: 0;
	padding: 0;
	@include font-sans(300);
	list-style: none;
	border:none;
	outline: none;
}
html,
body{
	width: 100%;
	height: 100vh;
	overflow: none;
	background-color: black;
}
body{
	overflow: scroll;	
	overflow-x:hidden;
	background-color: $c-darkgray;
}
a{
	text-decoration: none;
	color:inherit;
}
button{
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;
}

@include generate-type-size(1);

#logo,
header{ z-index: 200; }
#profilewrapper{ z-index: 100; }

///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
//   Header
header{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	padding: 20px 0;
	height: 20px;
	z-index: 100;
	background-color: $c-darkgray;

	ul{
		width:70%;
		display: inline-block;
		position: absolute;
		right: 0;
		top:15px;
		z-index: 100;
		@include flexbox(row);
		@include flexbox-justify(space-between);

		li{
			display: inline-block;
			cursor: pointer;
			vertical-align: top;
			color:white;
			z-index: 100;
			@include transition(200ms, all, ease-in-out);
		}
		li, 
		li p,
		li p span,
		li p a{	
		    @include font-sans(300);
		    font-size: 1em;
		}
	}
}
//Searchbar
#searchwrapper{ 
	position: relative; 
	width:212px;
}
#searchbar{
	border:1px solid $c-gray2;
	opacity: 1;
	overflow: hidden;
	margin:auto;
	position: fixed;
	width: 200px;
	padding: 2px 6px;
	@include transition(200ms, all, linear);
	&:hover{ background-color: $c-gray1;}
	form{
		height: 28px;
	}
	span,
	input{
		display: inline-block;
		margin: 0;
		float: left;
	}
	span{
		margin-top: 4px;
		margin-right: 12px;
		width:20px;
		height:20px;
		background-image:url(../img/ui-icons/search.svg);
		background-size: cover;
		background-repeat: no-repeat;
		float: left;
	}
	input{
		width: 160px;
		height:28px;
		background-color: transparent;
		color: white;
		float: left;
	}
	input:last-of-type{ display: none; }
}
#searchresult{
	div{
		border-top: 1px solid white;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 100%;
	}
}
#btn_upload,
#logininfo{
	opacity: 0.6;
	border-radius: $buttonBorder;
	overflow: hidden;
	border:1px solid;
	height: auto;
	border-color: rgba(0,0,0,0);

	p{
		padding:1px 8px;
		border-radius: 0;
	}
	&:hover{
		opacity: 1;
		border-color: $c-gray;
	}
}
#logininfo{
	p:last-of-type{ 
		border-top:1px solid $c-gray;
		visibility: hidden;
		margin-top: 0;
	}

	&:hover{
		p:last-of-type{ 
			visibility: visible;
			padding-bottom: 0;
			&:hover{  background-color: $c-gray; }
		}
	}
}
#btn_menu{
width:28px;
height:24px;
padding: 1px;
text-align: center;
margin-right: 30px;
	span{
		background-color: white;
		display: block;
		position: absolute;
		width: 28px;
		height: 2px;
		border-radius: 1px;
		display: block;
		position: absolute;
		top: 15px;

		@include transition(300ms, all, ease-in-out);

		&:nth-child(1){ @include translateY(-7px); }		
		&:nth-child(2){ opacity: 1; }		
		&:nth-child(3){ @include translateY(7px); }
	}
}

#logo{
	position: absolute;
	display: block;
	top:24px;
	left: 30px;
	width: 120px;
	cursor: pointer;
	@include transition(300ms, all, ease-in-out);

	&:hover{ opacity: 0.6; }
}

@media (min-width: 800px){
#logo{
	top:20px;
	width: 160px; }
#searchwrapper{ 
	width:262px; 
	margin-right: 50px;	
}
#searchbar{
	width: 250px;
	input{ width: 210px; }
}
}

main, nav{ height: 100vh; }
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
//  Nav
nav{
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	width: 340px;
	background-color: white;
	@include transition(200ms, all, ease-in-out);
	@include translateX(100%);

	ul{
		margin-top: 100px;
		li{
			margin-left: 40px;
			padding-top: 10px;
			padding-bottom: 10px;
			cursor: pointer;
			color:black;
			opacity: 0.6;

			-webkit-transform: translateX(250px);
			        transform: translateX(250px);
			@include transition(300ms, all, ease-in-out);

			&:hover{
				@include transition(100ms, all, linear);
				opacity: 1;
			}
			&:nth-child(1){ @include transitiondelay(30ms); }
			&:nth-child(2){ @include transitiondelay(60ms); }
			&:nth-child(3){ @include transitiondelay(90ms); }
			&:nth-child(4){ @include transitiondelay(120ms); }
			&:nth-child(5){ @include transitiondelay(150ms); }
			&:nth-child(6){ @include transitiondelay(180ms); }
			&:nth-child(7){ @include transitiondelay(210ms); }


			h4{
				text-transform: uppercase;
				font-size: 1.5em;
				font-weight: 700;
				letter-spacing: 0.01em;
				padding: 0;
			}
			& > div{
				display: none;
				margin-top: 20px;
			}
			&.active{
				opacity: 1;
				h4{ color: $c-pink; }
			}
			&.active > div{ display: block; }
		}
	}
}



body.menuopened{
	header{
		ul li{ color:black; }
		#btn_menu{
			span{
				background-color: $c-pink;	

				&:nth-child(1){ @include rotate(405deg); }
				&:nth-child(2){ opacity: 0; }
				&:nth-child(3){ @include rotate(315deg); }
			}

		}
	}
	nav{ @include translateX(0);
	    ul li{ @include translateX(0); }
	}
	#btn_search{ display: none; }
}
body.profileopened{
	#profilewrapper{ @include translateX(0); }
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
//MAIN
main{
	width: 100%;
	background-color: $c-gray2;
}
//main
#mainscreen{
	position: absolute;
	width:100%;
	height: auto;
	margin:0;
	background-color: $c-gray2;
}
// #listmenu,
.mainlist,
.commentlist,
#uploadwrapper{
	width: 80%;
	margin: auto;
}
#listmenu{
	background-color: $c-gray2;
	opacity: 1;
	border:none;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-bottom: 2px;
	h6,p{ 
		opacity: .7;
		letter-spacing: .05em; 
	}
	li{

	@include flexbox(row);
	@include flexbox-justify(center);
	}
}
.mainlist{
	overflow: hidden;
	margin-top: 60px;
	padding-top: 40px;
	ul{
		// margin-top: 46px;
		padding-bottom:10px;
		opacity: 1;
		padding-top: 0;
		padding-bottom: 0;
		color:white;
		h6,
		p{
			display: inline-block;
			font-size: 1.2em;
			padding-bottom: 0;
			font-weight: 500;
		}
		h6{
			margin-right:1%;
			&:first-of-type{ width: 40%; }
			&:last-of-type{ width: 20%; }
		}
		p{
			width: 15%;
			margin: 0;
		}
	}
	form{
		div{
			width: 100px;
			display: inline-block;
			height: 30px;
			border:1px solid $c-darkgray;
			border-radius: $borderA;
			cursor: pointer;
			@include transition(all,100ms,linear);
			&:hover{
				color: $c-pink;
				border:1px solid $c-pink;
			}

			.cat-checkbox,
			label{
				position: absolute;
				width: 100px;
				vertical-align: middle;
				box-shadow: none;
				text-align: center;
				cursor: pointer;
				margin: 0;
			}
			.cat-checkbox{
				-webkit-appearance: none;
				height: 30px;
			}
			label{
				padding:7px 0;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: .85em;
			}
		}
	}
}
.maincontent li{
	cursor: pointer;
	@include transition(all, 100ms, linear);
	height: auto;
	width: 100%;
	// display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;

	&:nth-child(even){
	border-top:1px solid $a-white1;
	border-bottom:1px solid $a-white1;
	}
	&:hover{
		background-color: $a-white1;
		border-top-color: $a-white1;
		border-bottom-color: $a-white1;
	}
	h6,
	p{
		font-weight: 300;
		font-size: 1em;
		height: auto;
		line-height: auto;
	 }
}
//like
.post_like{
	svg,
	div{
		display: inline-block;
		vertical-align: middle;
	}
}
svg.likeicon{
	width: 16px;
	height: 16px;
	path{
		fill: rgba(255,255,255,0.25);
		@include transition(all,100ms,linear);
	}
}
.post-item:hover{
	svg.likeicon path{ 
		fill: $a-white2;
		&:hover{ fill:$c-pink;}
	}
}

//post general & details
.postgeneral,
.postdetail-wrapper{
	width: 100%;
	clear:both;
	position: relative;
	float: none;
	height: auto;
}
.postgeneral{
	@include flexbox(row);
	@include flexbox-justify(center);
}
.postdetail-wrapper{
	display: none;
	height: auto;
}
.postdetail{
	width: 100%;
	background-color: blue;
	height: auto;
	min-height: 20px;
}

.maincontent li.detailopened{
	.postdetail-wrapper{
		display: block;
	}
	.postgeneral{
		background-color: $c-pink;
		&:hover{ background-color: $c-pink;}
	}
	.postdetail-wrapper{
		display: block;
		background-color: white;
	}
}


#commentmain{
	margin:auto;
	background-color: rgba(255,255,255,0.5);
	min-height: 100px;
	height: 50px;
	width: 90%;
}
.commentlist{
	background-color: transparent;

	form{
		margin:auto;
		width: 90%;
		padding: 12px 10px;
		height: 26px;
		background-color: $c-gray;
		@include flexbox(row);
		textarea{
			min-width: 200px;
			padding: 4px 4px;
			resize:none;
			background-color: transparent;
			margin: 0;
			border-radius: 2px;
			flex-grow:2;
			margin-right: 10px;
		}
		input{
			float: right;
			margin: 0;
			@include buttonA;
		}
	}
}
#uploadwrapper{
	position: fixed;
	top: 80px;
	height: 80px;
	padding: 20px 10%;
	z-index: 50;
	background-color: $c-gray1;
	@include translateY(-120%);
	@include transition(all,300ms,ease-in-out);
	form{
		position: relative;
		border-bottom: 1px solid $c-pink;
		margin-bottom: 10px;
		height: 24px;
		padding-bottom: 5px;
	}

	input[type="submit"]{
		background-color: gray;
		color: white;
		float: right;
		@include buttonA;
	}
	input.uploadfilebtn{ 
		margin-top: 10px;
		width: 210px;
		display: inline-block;
	}
	input.uploadbtn{ 
		display: inline-block;
		background-color: $c-pink;
	}
	textarea{
		display: inline-block;
		overflow: auto;
		height: 100%;
		width: 210px;
		vertical-align: bottom;
		resize:none;
	}
}
body.uploadopened{
	#uploadwrapper{
		@include translateY(0);
		box-shadow: 0px 20px 20px 0 rgba(0,0,0,.15);
	}
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
// Profile
#profilewrapper{
	position: fixed;
	right: 0;
	width: 500px;
	height: 100%;
	background-color: white;
	@include transition(300ms, all, ease-in-out);
	@include translateX(100%);

	div{
		margin: auto;
		clear: both;
	}
	.profileinnerwrapper{
		width: 100%;
		height: 100%;
		@include flexbox(column);
	}
	#profileheader{
		width: 100%;
		height: 200px;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;

	}
		#profilecover{
			position: relative;
			width: 100%;
			max-height: 200px;
		}

		#profileclose{
			position: absolute;
			right: 40px;
			top: 0;
			cursor: pointer;
			width:30px;
			height:16px;

			span{
				background-color: $c-pink;
				display: block;
				position: absolute;
				width: 28px;
				height: 2px;
				border-radius: 1px;
				display: block;
				position: absolute;
				top: 28px;
				@include transition(300ms, all, ease-in-out);

				&:first-of-type{ @include rotate(405deg); }
				&:last-of-type{ @include rotate(315deg); }
			}
		}
	#profile{
		flex-grow:2;
		margin: auto;
		width: 400px;
		margin-top: -100px;
		text-align: center;
		img{
			position: relative;
			width: 100px;
			height:100px;
			margin:auto;
			margin-bottom: 10px;
			clear: both;
		}
		//name
		h3{
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-weight: 700;
			margin-bottom: 20px;
		}
		//description
		p{
			font-size: 1.1em;
			line-height: 1.5em;
			text-align: left;
		}
		//tags
		span{
			border: 1px solid #d1d0cc;
			color: #d1d0cc;
			padding: 2px 6px;
			border-radius: $borderA;
			cursor: pointer;
			margin-left: 2px;
			margin-right: 2px;
			@include transition(all,100ms,linear);
			&:hover{ border-color: $c-pink;
				background-color: $c-pink;
				color: white;}
		}
	}
	#related{
		width: 100%;
		margin: 0;
		overflow: hidden;
		margin-bottom: $controller;
		& > h6{
			color: #b1b1b1;
			padding-bottom: 8px;
			margin-left: 30px;
		}
		h6{
			font-weight: 300;
			font-size: 1em;
		}
		ul{
			background-color: rgba(0,0,0,0.05);
			width: 100%;
			height: 80px;
			@include flexbox(row);

			li{
				width:140px;
				background-color: rgba(0,0,0,0.3);
				color: white;
				text-align: center;
				opacity: 0.8;
				cursor: pointer;
				height: 60px;
				padding: 10px 10px;
				// overflow: hidden;
				h6{
					padding-bottom: 0;
				}
				p{
					padding-bottom: 0;
					font-size: .8em;
				}

				&:hover{ opacity: 1; }
			}
		}
	}
}

#openchat{
	background-color: white;
	color: $c-pink;
	float: left;
	margin-left: -4px;
	@include buttonA;
}

//z-index
#profilewrapper > div:last-of-type{ 
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
}
///////////////////////////////////////////////////////////////////////////
//chat
#chatwrapper{
	position: absolute;
	width: 500;
	height: 420px;
	bottom: $controller;
	background-color: white;
	z-index: 9999;
	border-radius: $borderB;
	@include transition(all, 300ms, ease-out);
	@include translateY(100%);

	& > div{
		padding-left: 10px;
		padding-right: 10px;
		width: 480px;
		position: relative;
		clear: both;
	}
	.chatheader{
		height: 20px;
		background-color:$c-pink;
	}
	.chatmain{
		height: 340px;
		overflow-y:scroll;
		background-color: white;
		p{ 
			clear: both;
			background-color: $c-pink;
			color: white;
			padding: 4px;
			margin: 2px 8px;
		}
		p.received{  float: left;  }
		p.sent{ float: right; }
	}
	.chatcontrol{
		height: 40px;
		background-color:white;
		border-top: 1px solid $c-pink;
		padding-top: 10px;
		& > div{ 
			display: inline-block; 
			color: white;
			background-color: $c-gray;
			cursor: pointer;
			margin-bottom: -5px;
		}
		input[type="text"]{
			color:black;
			width: 100%;
		}
	}
}
body.chatopened #chatwrapper{ @include translateY(0%); }

///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
//controller
#controller{
	z-index: 999;
	background-color: $c-darkgray;
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 100%;
	border-top: 1px solid $c-gray;
	display: block;
	@include transition(all,100ms,linear);

	&:hover{
		background-color: $c-darkdarkgray;
		opacity: 1;
	}

	& > div{ position: absolute; }
}

#thumbwrapper{
	margin: 0;
	min-width: 160px;
	width: 10%;
	height: auto;
	text-align: center;
	display: inline-block;
	z-index: 50;
	img, span{
		clear: both;
		margin:auto;
		cursor: pointer;
	}
	img{
		display: block;
		width: 50px;
		height:50px;
		margin-bottom: 5px;
		background-color: black;
		box-shadow: none;
		outline: none;
		opacity: 1;
		cursor: pointer;
		@include transition(all,300ms,linear);
		&:hover{ opacity: .8;}
	}
	span{ color:white; }
}
#playerwrapper{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
}
.jp-video{ color: white; }
	.jp-jplayer,
	.jp-video-play{
		display: none !important;
		background-color: transparent;
	}
	.jp-gui div{ display: inline-block; }
	.jp-interface{
		width: 100%;
		& > div{ 
			vertical-align: middle; 
		}
	}
	.jp-details{
		&:first-of-type{ margin-left: 160px;}
		.titlewrapper{ 
			color: white;
			min-width: 160px;
			width: 10%;

			& > div{
				text-align: center;
				clear: both;
				margin:auto;
				position: relative;
				width: 100%;
				padding-bottom: 4px;
				&:first-of-type{
					font-weight: 500;
					letter-spacing: .05em;
				}
			}
		}
	}
	// .jp-controls-wrapper{
	// 	min-width: 630px;
	// 	position: relative;
	// 	margin: auto;
	// 	margin-left: 30px;
	// 	& > div{
	// 		vertical-align: middle;
	// 		background-color: transparent;
	// 		&:nth-child(0){ width: 10%; }
	// 	}
	// }
#jp-playwrapper,
#jp-volumewrapper{
	position: absolute;
}
#jp-playwrapper{
	// width: 100px;
	left: 50%;
	@include translateX(-50%);
	button{
		display: inline-block;
		vertical-align: middle;
	}
	.jp-play{
		margin:0 10px;
	}
	.jp-previous,
	.jp-next{
		width: 30px;
		height: 30px;
	}
}
#jp-volumewrapper{
	right: 80px;
	top:24px;
}

//progressbar
.progresswrapper{
	float: right;
	div{ vertical-align: middle; }
}
	.jp-progress{
		width: 100%;
		height: 4px;
		position: relative;
		overflow: hidden;
		background-color: black;
	}
		.jp-seek-bar,
		.jp-play-bar{
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: 0;
			height: 4px;
			cursor: pointer;
		}
		.jp-seek-bar{ background-color: rgba(0,0,0,0.5); }
		.jp-play-bar{
			background-color: $c-pink;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		.jp-duration,
		.jp-current-time{ font-size: 0.9em; }
		.ctrlbtn{
			// opacity: 0.6;
			width: 50px;
			height:50px;
			background-size: cover;
			background-repeat: no-repeat;
			@include transition(all, 300ms, linear);
			cursor: pointer;
			// &:hover{ opacity: 1; }
			&.jp-mute{
				width: 30px;
				height: 30px;
			}
		}
		.jp-volume-controls{
			margin-left: 50px;
			opacity: .5;
			@include transition(all,200ms,linear);
			&:hover{ 
				opacity: 1;
				.jp-volume-bar-value span{ opacity: 1; }
			}
			& > button,
			& > div{
				vertical-align: middle;
				display: inline-block;
			}
		}
		.jp-volume-bar{
			width: 100px;
			background-color: rgba(0,0,0,0.5);
			height: 4px;
			position: relative;
			cursor: pointer;
			border-radius: 2px;
		}
		.jp-volume-bar-value{
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			top: 0;
			left: 0;
			height: 4px;
			border-radius: 2px;
			cursor: pointer;
			span{
				position:absolute;
				right: 0;
				top: -2px;
				width: 8px;
				height: 8px;
				border-radius: 4px;
				background-color: white;
				opacity: 0;
			}
		}


/////////////
// ETC

#loginwrapper{
	width: 100%;
	height: 100vh;
	position: relative;
	margin:auto;
	@include flexbox(column);
	@include flexbox-justify(center);
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	h4{
		color: white;
	}
	p.text-warning{
		color:$c-pink;
		font-weight: 500;

	}
	form{
		// width: 250px;
		text-align: center;
		margin: auto;
	}
	input{
		position: relative;
		display: block;
		margin:12px auto;
		font-size: 1.2em;
		clear: both;
		width: 230px;
		height: 20px;
		padding:10px 10px;
		// border-color: 1px solid $a-gray1;
	}
	input[type="username"],
	input[type="password"],
	input[type="submit"]{
	}
	input:focus{
		// border-color: 1px solid $c-pink;
	}
	input[type="submit"]{
		height: 40px;
		// border-color: 1px solid $c-pink;
		background-color: $c-pink;
		color: white;
		cursor: pointer;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		padding:10px 0;
	}
}

///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
//  Icons
.jp-play{ background-image: url(../img/ui-icons/play.svg); }
.jp-state-playing .jp-play{ background-image: url(../img/ui-icons/pause.svg);}
.jp-stop{ background-image: url(../img/ui-icons/pause.svg);}
.jp-mute{  background-image: url(../img/ui-icons/volume_3.svg); }
.jp-mute:focus{ background-image: url(../img/ui-icons/volume_mute.svg);}
.jp-previous{background-image: url(../img/ui-icons/prev.svg);}
.jp-next{background-image: url(../img/ui-icons/next.svg);}
		//old
// #searchbar{
// 	margin-left:-20px;
// 	border-width: 1px;
// 	border-style: solid;
// 	border-color:$c-pink;
// 	border-radius: 25px;
// 	width: 200px;
// 	padding:11px 20px;
// 	opacity: 1;
// 	overflow: hidden;
// 	@include transition(200ms, all, linear);

// 	input{
// 		height:28px;
// 		&:last-of-type{
// 			cursor: pointer;
// 			background-color: transparent;
// 			color:transparent;
// 			background-image:url(../img/ui-icons/search-01.svg);
// 			background-size: cover;
// 			background-repeat: no-repeat;
// 			width:28px;
// 			height:28px;
// 			float: right;
// 		}
// 	}
// }