@import "../susy/susy";
@import "eugeneso";

$c-pink: #fa4e5e;
*{
	margin: 0;
	padding: 0;
	@include font-sans(300);
	list-style: none;
	border:none;
	outline: none;
}
html,
body{
	width: 100%;
	height: 100vh;
	overflow: none;
	background-color: black;
}
a{
	text-decoration: none;
	color:inherit;
}
button{
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;
}

@include generate-type-size(1);

#logo,
header{
	z-index: 200;
}
#profilewrapper{
	z-index: 100;
}

header{
	position: fixed;
	top: 0;
	right:0;
	padding: 20px 0;
	z-index: 100;


	ul{
		display: inline-block;
		float: right;
		z-index: 100;

		li{
			display: inline-block;
			cursor: pointer;
			margin-right: 30px;
			color:white;
			z-index: 100;
			@include transition(300ms, all, ease-in-out);

			&:hover{
				opacity: 0.6;
			}
		}
		li, 
		li p,
		li p a{	
		    @include font-sans(300);
		    font-size: 1em;
		}
	}
	#btn_menu{
		width:30px;
		height:16px;
		span{
			background-color: white;
			display: block;
			position: absolute;
			width: 28px;
			height: 2px;
			border-radius: 1px;
			display: block;
			position: absolute;
			top: 28px;
			@include transition(300ms, all, ease-in-out);

			&:nth-child(1){ @include translateY(-8px); }		
			&:nth-child(2){ opacity: 1; }		
			&:nth-child(3){ @include translateY(8px); }
		}
	}
}

#logo{
	position: fixed;
	display: block;
	width: 160px;
	top:20px;
	left: 30px;
	cursor: pointer;
	@include transition(300ms, all, ease-in-out);

	&:hover{
		opacity: 0.6;
	}
}

main, nav{
	height: 100vh;
}

//MENU
nav{
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	width: 340px;
	background-color: white;
	@include transition(200ms, all, ease-in-out);
	-webkit-transform: translateX(100%);
	   -moz-transform: translateX(100%);
	     -o-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);

	ul{
		margin-top: 100px;
		// background-color: red;
		li{
			margin-left: 40px;
			padding-top: 10px;
			padding-bottom: 10px;
			cursor: pointer;
			color:black;
			opacity: 0.6;

			-webkit-transform: translateX(250px);
			        transform: translateX(250px);
			@include transition(300ms, all, ease-in-out);

			&:hover{
				@include transition(100ms, all, linear);
				opacity: 1;
			}
			&:nth-child(1){ @include transitiondelay(30ms); }
			&:nth-child(2){ @include transitiondelay(60ms); }
			&:nth-child(3){ @include transitiondelay(90ms); }
			&:nth-child(4){ @include transitiondelay(120ms); }
			&:nth-child(5){ @include transitiondelay(150ms); }
			&:nth-child(6){ @include transitiondelay(180ms); }
			&:nth-child(7){ @include transitiondelay(210ms); }


			h4{
				text-transform: uppercase;
				font-size: 1.5em;
				font-weight: 700;
				letter-spacing: 0.01em;
				padding: 0;
			}
			& > div{
				display: none;
				margin-top: 20px;
			}
			&.active{
				opacity: 1;
				h4{
					color: $c-pink;
				}
			}
			&.active > div{
				display: block;
			}
		}
	}
}
#uploadwrapper{
	background-color: rgba(0,0,0,0.05);
}
#searchbar{
	margin-left:-20px;
	border-width: 1px;
	border-style: solid;
	border-color:$c-pink;
	border-radius: 25px;
	width: 200px;
	padding:11px 20px;
	opacity: 1;
	overflow: hidden;
	@include transition(200ms, all, linear);

	input{
		height:28px;
		&:last-of-type{
			cursor: pointer;
			background-color: transparent;
			color:transparent;
			background-image:url(../img/ui-icons/search-01.svg);
			background-size: cover;
			background-repeat: no-repeat;
			width:28px;
			height:28px;
			float: right;
		}
	}
}
body.menuopened{
	header{
		ul li{
			color:black;
		}
		#btn_menu{
			span{
				background-color: $c-pink;	

				&:nth-child(1){ @include rotate(405deg); }
				&:nth-child(2){ opacity: 0; }
				&:nth-child(3){ @include rotate(315deg); }
			}

		}
	}
	nav{
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	     -o-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
	    ul{
	    	li{
			-webkit-transform: translateX(0);
			        transform: translateX(0);
	    	}
	    }
	}
	#btn_search{
		display: none;
	}
}
body.profileopened{
	#profilewrapper{
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	     -o-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
	}
}

///////////////////////
//MAIN
main{
	width: 100%;
	background-color: white;
}

//profile
#profilewrapper{
	position: fixed;
	left: 0;
	width: 80%;
	max-width: 600px;
	height: 100vh;
	background-color: white;
	@include transition(300ms, all, ease-in-out);
	-webkit-transform: translateX(-100%);
	   -moz-transform: translateX(-100%);
	     -o-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);

	#profileclose{
		float: right;
		margin-right: 40px;
		margin-top: 20px;
		cursor: pointer;
	}

	div{
		margin: auto;
		clear: both;
	}
	#profile{
		max-width: 450px;
		margin-top: 100px;
		text-align: center;
		img{
			border-radius: 50%;
			position: relative;
			width: 100px;
			height:100px;
			margin:auto;
			margin-bottom: 20px;
			clear: both;
		}
		h3{
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-weight: 700;
			margin-bottom: 20px;

		}
		p{
			font-size: 1.1em;
			line-height: 1.5em;
			text-align: left;
		}
		button{
			color: $c-pink;
			float: left;
		}
	}
	#related{
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		margin: 0;
		h6{
			color: #b1b1b1;
			font-weight: 300;
			padding-bottom: 8px;
			margin-left: 30px;
			font-size: 1em;
		}
		ul{
			background-color: rgba(0,0,0,0.05);
			width: 100%;
			height: 80px;
			@include flexbox(row);

			li{
				width:25%;
				background-color: rgba(0,0,0,0.3);
				color: white;
				text-align: center;
				opacity: 0.8;
				cursor: pointer;

				&:hover{
					opacity: 1;
				}
			}
		}
	}
}

//main
#mainscreen{
	position: absolute;
	width:100%;
	height: 100vh;
	margin:0;
	background-color: $c-darkgray;

	& > div{
		width: 90%;
		margin: auto;
		margin-top: 100px;

		// main post lists
		ul{
			border:1px solid black;
			padding-bottom:10px;
			li{
				color:white;
				border-bottom:1px solid black;
				padding-top:5px;
				padding-bottom: 5px;
				opacity: 0.8;
				cursor: pointer;
				@include transition(all, 200ms, linear);

				&:hover{
					background-color: black;
					opacity: 1;
				}
			}
		}
	}
}

//controller
#controller{
	background-color: $c-pink;
	position: fixed;
	bottom: 0;
	height: 80px;
	width: 100%;
	display: block;

	& > div{
		position: absolute;
		// float: left;
	}
}

#thumbwrapper{
	margin: 0;
	margin-top: -40px;
	min-width: 160px;
	width: 10%;
	height: 160px;
	text-align: center;

	img, span{
		clear: both;
		margin:auto;
		cursor: pointer;
	}
	img{
		display: block;
		width: 80px;
		height:80px;
		margin-bottom: 10px;
		border-radius: 50%;
		background-color: black;
		box-shadow: none;
		outline: none;
	}
	span{
		color:white;
	}
}
#playerwrapper{
	margin-top: 14px;
	width: 100%;
}
.jp-video{
	color: white;
}
	.jp-jplayer,
	.jp-video-play{
		display: none !important;
		background-color: transparent;
	}
	.jp-gui div{
		display: inline-block;
	}
	.jp-interface{
		width: 100%;
		@include flexbox(row);
		@include flexbox-justify(space-between);
		& > div{
			vertical-align: middle;
			background-color: transparent;
			border:1px solid white;
			// margin: 0;
			&:nth-child(0){
				width: 10%;
			}
		}
		.jp-details{
			.titlewrapper{ 
				color: white;
				& > div{
					text-align: center;
					clear: both;
					margin:auto;
					position: relative;
					width: 100%;
				}
			}
		}
		.jp-controls-holder{
		}
	}

//progressbar
.jp-details{

	& > div{
		position: relative;
	}
	.titlewrapper{
		float: left;
	}
	.progresswrapper{
		float: right;
	}
}
	.jp-progress{
		min-width: 300px;
		width: auto;
		max-width: 500px;
		height: 15px;
		margin: auto 5px;
		position: relative;
	}
		.jp-seek-bar,
		.jp-play-bar{
			border-radius: 8px;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: 0;
			height: 16px;
		}
		.jp-seek-bar{
			background-color: rgba(0,0,0,0.5);
		}
		.jp-play-bar{
			background-color: gray;
		}