* {
  margin: 0;
  padding: 0;
  font-family: "neuzeit-grotesk", sans-serif;
  font-style: normal;
  font-weight: 300;
  list-style: none;
  border: none;
  outline: none; }

html,
body {
  width: 100%;
  height: 100vh;
  overflow: none;
  background-color: black; }

body {
  overflow: scroll;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }

button {
  background-color: transparent;
  box-shadow: none;
  cursor: pointer; }

* {
  font-size: 14px; }

h1 {
  font-family: "neuzeit-grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

h2 {
  font-family: "neuzeit-grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 14px; }

h3 {
  font-family: "neuzeit-grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 10px; }

h4 {
  font-size: 28px;
  line-height: 36px; }

h5 {
  font-size: 24px;
  line-height: 30px; }

h6 {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 12px; }

p, p a {
  font-family: "neuzeit-grotesk", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 12px; }

#logo,
header {
  z-index: 200; }

#profilewrapper {
  z-index: 100; }

header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 0;
  z-index: 100; }
  header ul {
    display: inline-block;
    float: right;
    z-index: 100; }
    header ul li {
      display: inline-block;
      cursor: pointer;
      margin-right: 30px;
      color: white;
      z-index: 100;
      -webkit-transition: 300ms all ease-in-out;
      -moz-transition: 300ms all ease-in-out;
      -o-transition: 300ms all ease-in-out;
      -ms-transition: 300ms all ease-in-out;
      transition: 300ms all ease-in-out; }
      header ul li:hover {
        opacity: 0.6; }
    header ul li,
    header ul li p,
    header ul li p a {
      font-family: "neuzeit-grotesk", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 1em; }
  header #btn_search {
    margin-top: -2px;
    width: 26px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/ui-icons/search.svg); }
  header #btn_menu {
    width: 30px;
    height: 24px; }
    header #btn_menu span {
      background-color: white;
      display: block;
      position: absolute;
      width: 28px;
      height: 2px;
      border-radius: 1px;
      display: block;
      position: absolute;
      top: 28px;
      -webkit-transition: 300ms all ease-in-out;
      -moz-transition: 300ms all ease-in-out;
      -o-transition: 300ms all ease-in-out;
      -ms-transition: 300ms all ease-in-out;
      transition: 300ms all ease-in-out; }
      header #btn_menu span:nth-child(1) {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px); }
      header #btn_menu span:nth-child(2) {
        opacity: 1; }
      header #btn_menu span:nth-child(3) {
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -o-transform: translateY(8px);
        -ms-transform: translateY(8px);
        transform: translateY(8px); }

#logo {
  position: fixed;
  display: block;
  width: 160px;
  top: 20px;
  left: 30px;
  cursor: pointer;
  -webkit-transition: 300ms all ease-in-out;
  -moz-transition: 300ms all ease-in-out;
  -o-transition: 300ms all ease-in-out;
  -ms-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out; }
  #logo:hover {
    opacity: 0.6; }

main, nav {
  height: 100vh; }

nav {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 340px;
  background-color: white;
  -webkit-transition: 200ms all ease-in-out;
  -moz-transition: 200ms all ease-in-out;
  -o-transition: 200ms all ease-in-out;
  -ms-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%); }
  nav ul {
    margin-top: 100px; }
    nav ul li {
      margin-left: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      color: black;
      opacity: 0.6;
      -webkit-transform: translateX(250px);
      transform: translateX(250px);
      -webkit-transition: 300ms all ease-in-out;
      -moz-transition: 300ms all ease-in-out;
      -o-transition: 300ms all ease-in-out;
      -ms-transition: 300ms all ease-in-out;
      transition: 300ms all ease-in-out; }
      nav ul li:hover {
        -webkit-transition: 100ms all linear;
        -moz-transition: 100ms all linear;
        -o-transition: 100ms all linear;
        -ms-transition: 100ms all linear;
        transition: 100ms all linear;
        opacity: 1; }
      nav ul li:nth-child(1) {
        -webkit-transition-delay: 30ms;
        -moz-transition-delay: 30ms;
        -o-transition-delay: 30ms;
        transition-delay: 30ms; }
      nav ul li:nth-child(2) {
        -webkit-transition-delay: 60ms;
        -moz-transition-delay: 60ms;
        -o-transition-delay: 60ms;
        transition-delay: 60ms; }
      nav ul li:nth-child(3) {
        -webkit-transition-delay: 90ms;
        -moz-transition-delay: 90ms;
        -o-transition-delay: 90ms;
        transition-delay: 90ms; }
      nav ul li:nth-child(4) {
        -webkit-transition-delay: 120ms;
        -moz-transition-delay: 120ms;
        -o-transition-delay: 120ms;
        transition-delay: 120ms; }
      nav ul li:nth-child(5) {
        -webkit-transition-delay: 150ms;
        -moz-transition-delay: 150ms;
        -o-transition-delay: 150ms;
        transition-delay: 150ms; }
      nav ul li:nth-child(6) {
        -webkit-transition-delay: 180ms;
        -moz-transition-delay: 180ms;
        -o-transition-delay: 180ms;
        transition-delay: 180ms; }
      nav ul li:nth-child(7) {
        -webkit-transition-delay: 210ms;
        -moz-transition-delay: 210ms;
        -o-transition-delay: 210ms;
        transition-delay: 210ms; }
      nav ul li h4 {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 0.01em;
        padding: 0; }
      nav ul li > div {
        display: none;
        margin-top: 20px; }
      nav ul li.active {
        opacity: 1; }
        nav ul li.active h4 {
          color: #fa4e5e; }
      nav ul li.active > div {
        display: block; }

#uploadwrapper {
  margin-right: 40px; }
  #uploadwrapper form {
    position: relative;
    border-bottom: 1px solid #fa4e5e;
    margin-bottom: 10px;
    height: 24px;
    padding-bottom: 5px; }
  #uploadwrapper input[type="submit"] {
    background-color: gray;
    color: white;
    float: right;
    border-radius: 5px;
    padding: 3px 6px;
    cursor: pointer; }
    #uploadwrapper input[type="submit"]:hover {
      background-color: #fa4e5e; }
  #uploadwrapper input.uploadfilebtn {
    margin-top: 10px;
    width: 210px;
    display: inline-block; }
  #uploadwrapper input.uploadbtn {
    display: inline-block;
    background-color: #fa4e5e; }
  #uploadwrapper textarea {
    display: inline-block;
    overflow: auto;
    height: 100%;
    width: 210px;
    vertical-align: bottom; }

#searchbar {
  margin-left: -20px;
  border-width: 1px;
  border-style: solid;
  border-color: #fa4e5e;
  border-radius: 25px;
  width: 200px;
  padding: 11px 20px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: 200ms all linear;
  -moz-transition: 200ms all linear;
  -o-transition: 200ms all linear;
  -ms-transition: 200ms all linear;
  transition: 200ms all linear; }
  #searchbar input {
    height: 28px; }
    #searchbar input:last-of-type {
      cursor: pointer;
      background-color: transparent;
      color: transparent;
      background-image: url(../img/ui-icons/search-01.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 28px;
      height: 28px;
      float: right; }

body.menuopened header ul li {
  color: black; }
body.menuopened header #btn_menu span {
  background-color: #fa4e5e; }
  body.menuopened header #btn_menu span:nth-child(1) {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    transform: rotate(405deg); }
  body.menuopened header #btn_menu span:nth-child(2) {
    opacity: 0; }
  body.menuopened header #btn_menu span:nth-child(3) {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg); }
body.menuopened nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
  body.menuopened nav ul li {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
body.menuopened #btn_search {
  display: none; }

body.profileopened #profilewrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

main {
  width: 100%;
  background-color: white; }

#mainscreen {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #1e1e1e; }
  #mainscreen > div {
    width: 90%;
    margin: auto;
    margin-top: 60px; }

#listmenu {
  position: fixed;
  width: 90%;
  background-color: black;
  opacity: 1;
  border: none;
  margin: 0;
  border-top: 200px solid #1e1e1e;
  margin-top: -200px; }

.mainlist {
  padding-top: 40px;
  padding-bottom: 100px; }
  .mainlist ul {
    margin-top: 28px;
    border: 1px solid black;
    padding-bottom: 10px;
    opacity: 1;
    padding-top: 0;
    padding-bottom: 0;
    color: white; }
    .mainlist ul li {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      justify-content: center; }
    .mainlist ul h6,
    .mainlist ul p {
      display: inline-block;
      font-size: 1em;
      padding-bottom: 0;
      font-weight: 500; }
    .mainlist ul h6 {
      margin-right: 1%; }
      .mainlist ul h6:first-of-type {
        width: 45%; }
      .mainlist ul h6:last-of-type {
        width: 20%; }
    .mainlist ul p {
      width: 15%;
      margin: 0; }

.postlist li,
.filelist li {
  cursor: pointer;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929; }
  .postlist li:nth-child(even),
  .filelist li:nth-child(even) {
    border-top: #292929;
    border-bottom: #292929; }
  .postlist li:hover,
  .filelist li:hover {
    background-color: #292929;
    border-top-color: #292929;
    border-bottom-color: #292929; }
  .postlist li h6,
  .postlist li p,
  .filelist li h6,
  .filelist li p {
    font-weight: 300; }

#profilewrapper {
  position: fixed;
  left: 0;
  width: 80%;
  max-width: 600px;
  height: 100vh;
  background-color: white;
  -webkit-transition: 300ms all ease-in-out;
  -moz-transition: 300ms all ease-in-out;
  -o-transition: 300ms all ease-in-out;
  -ms-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); }
  #profilewrapper #profileclose {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    width: 30px;
    height: 16px; }
    #profilewrapper #profileclose span {
      background-color: #fa4e5e;
      display: block;
      position: absolute;
      width: 28px;
      height: 2px;
      border-radius: 1px;
      display: block;
      position: absolute;
      top: 28px;
      -webkit-transition: 300ms all ease-in-out;
      -moz-transition: 300ms all ease-in-out;
      -o-transition: 300ms all ease-in-out;
      -ms-transition: 300ms all ease-in-out;
      transition: 300ms all ease-in-out; }
      #profilewrapper #profileclose span:first-of-type {
        -webkit-transform: rotate(405deg);
        -moz-transform: rotate(405deg);
        -o-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        transform: rotate(405deg); }
      #profilewrapper #profileclose span:last-of-type {
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        -o-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        transform: rotate(315deg); }
  #profilewrapper div {
    margin: auto;
    clear: both; }
  #profilewrapper #profile {
    max-width: 450px;
    margin-top: 100px;
    text-align: center; }
    #profilewrapper #profile img {
      border-radius: 50%;
      position: relative;
      width: 100px;
      height: 100px;
      margin: auto;
      margin-bottom: 20px;
      clear: both; }
    #profilewrapper #profile h3 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 700;
      margin-bottom: 20px; }
    #profilewrapper #profile p {
      font-size: 1.1em;
      line-height: 1.5em;
      text-align: left; }
    #profilewrapper #profile button {
      color: #fa4e5e;
      float: left; }
  #profilewrapper #related {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden; }
    #profilewrapper #related h6 {
      color: #b1b1b1;
      font-weight: 300;
      padding-bottom: 8px;
      margin-left: 30px;
      font-size: 1em; }
    #profilewrapper #related ul {
      background-color: rgba(0, 0, 0, 0.05);
      width: 100%;
      height: 80px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row; }
      #profilewrapper #related ul li {
        width: 25%;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        text-align: center;
        opacity: 0.8;
        cursor: pointer; }
        #profilewrapper #related ul li:hover {
          opacity: 1; }

#profilewrapper > div:last-of-type {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0; }

#chatwrapper {
  position: absolute;
  width: 300px;
  height: 400px;
  right: -300px;
  bottom: 120px;
  background-color: white;
  border: 1px solid #fa4e5e;
  z-index: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); }
  #chatwrapper > div {
    padding-left: 10px;
    padding-right: 10px;
    width: 280px;
    position: relative;
    clear: both; }
  #chatwrapper .chatheader {
    height: 20px;
    background-color: #fa4e5e; }
  #chatwrapper .chatmain {
    height: 340px;
    overflow-y: scroll;
    background-color: white; }
    #chatwrapper .chatmain p {
      clear: both;
      background-color: #fa4e5e;
      color: white;
      padding: 4px;
      margin: 2px 8px; }
    #chatwrapper .chatmain p.received {
      float: left; }
    #chatwrapper .chatmain p.sent {
      float: right; }
  #chatwrapper .chatcontrol {
    height: 40px;
    background-color: white;
    border-top: 1px solid #fa4e5e;
    padding-top: 10px; }
    #chatwrapper .chatcontrol > div {
      display: inline-block;
      color: white;
      background-color: #292929;
      cursor: pointer;
      margin-bottom: -5px; }
    #chatwrapper .chatcontrol input[type="text"] {
      color: black;
      width: 100%; }

body.chatopened #chatwrapper {
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -o-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%); }

#controller {
  background-color: #fa4e5e;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: block; }
  #controller > div {
    position: absolute; }

#thumbwrapper {
  margin: 0;
  margin-top: -60px;
  min-width: 160px;
  width: 10%;
  height: 160px;
  text-align: center; }
  #thumbwrapper img, #thumbwrapper span {
    clear: both;
    margin: auto;
    cursor: pointer; }
  #thumbwrapper img {
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: black;
    box-shadow: none;
    outline: none;
    opacity: 1;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; }
    #thumbwrapper img:hover {
      opacity: .8; }
  #thumbwrapper span {
    color: white; }

#playerwrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0; }

.jp-video {
  color: white; }

.jp-jplayer,
.jp-video-play {
  display: none !important;
  background-color: transparent; }

.jp-gui div {
  display: inline-block; }

.jp-interface {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .jp-interface > div {
    vertical-align: middle;
    background-color: transparent; }
    .jp-interface > div:nth-child(0) {
      width: 10%; }
  .jp-interface .jp-details:first-of-type {
    vertical-align: bottom; }
  .jp-interface .jp-details .titlewrapper {
    color: white;
    min-width: 160px;
    width: 10%; }
    .jp-interface .jp-details .titlewrapper > div {
      text-align: center;
      clear: both;
      margin: auto;
      position: relative;
      width: 100%; }

.jp-details > div {
  position: relative; }
.jp-details .titlewrapper {
  float: left; }
.jp-details .progresswrapper {
  float: right; }
  .jp-details .progresswrapper div {
    vertical-align: middle; }

.jp-progress {
  min-width: 300px;
  width: auto;
  max-width: 500px;
  height: 8px;
  margin: auto 6px;
  position: relative;
  border-radius: 4px;
  overflow: hidden; }

.jp-seek-bar,
.jp-play-bar {
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  cursor: pointer; }

.jp-seek-bar {
  background-color: rgba(0, 0, 0, 0.5); }

.jp-play-bar {
  background-color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.jp-duration,
.jp-current-time {
  font-size: 0.9em; }

.ctrlbtn {
  opacity: 0.6;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
  cursor: pointer; }
  .ctrlbtn:hover {
    opacity: 1; }
  .ctrlbtn.jp-mute {
    width: 30px;
    height: 30px; }

.jp-volume-controls {
  margin-left: 50px;
  opacity: .5;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear; }
  .jp-volume-controls:hover {
    opacity: 1; }
    .jp-volume-controls:hover .jp-volume-bar-value span {
      opacity: 1; }
  .jp-volume-controls > button, .jp-volume-controls > div {
    vertical-align: middle;
    display: inline-block; }

.jp-volume-bar {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 4px;
  position: relative;
  cursor: pointer;
  border-radius: 2px; }

.jp-volume-bar-value {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
  cursor: pointer; }
  .jp-volume-bar-value span {
    position: absolute;
    right: 0;
    top: -2px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: white;
    opacity: 0; }

.jp-play {
  background-image: url(../img/ui-icons/play.svg); }

.jp-play:focus {
  background-image: url(../img/ui-icons/pause.svg); }

.jp-stop {
  background-image: url(../img/ui-icons/pause.svg); }

.jp-mute {
  background-image: url(../img/ui-icons/volume_3.svg); }

.jp-mute:focus {
  background-image: url(../img/ui-icons/volume_mute.svg); }
