* {
  font-family: "omnes-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  border: none;
  outline: none; }

a {
  text-decoration: none;
  color: inherit; }

* {
  font-size: 14px; }

h1 {
  font-family: "omnes-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

header a {
  font-family: "omnes-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: capitalize; }

p {
  font-family: "omnes-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.7em; }

footer p {
  font-size: 10px; }

.top40 {
  margin-top: 40px !important;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

#searchbar {
  height: 40px;
  width: 100%;
  background-color: #252c3f;
  margin: -40px 0 0 0; }
  #searchbar form input {
    width: 80%;
    min-width: 300px;
    height: 30px;
    background-color: transparent;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    color: white;
    padding: 0 20px;
    font-size: 16px; }

header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 100;
  background-color: #1c1f24;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }
  header img, header div {
    margin: 20px 40px;
    height: 24px;
    text-align: center; }
  header img {
    float: left;
    width: 140px; }
  header div {
    float: right;
    min-width: 140px; }
  header button {
    width: 33px;
    height: 22px;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    background-color: transparent;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
    header button:hover {
      transform: scale(1.05); }
    header button:nth-child(1) {
      float: left;
      background-image: url(../img/icon-search.svg); }
    header button:nth-child(2) {
      background-image: url(../img/icon-inbox.svg); }
    header button:nth-child(3) {
      float: right;
      background-image: url(../img/icon-user.svg); }
  header .navbar-right {
    display: inline-block; }

button {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  opacity: .3; }
  button:hover {
    opacity: 1; }

div.login {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  div.login button {
    position: relative;
    width: 300px;
    height: 60px;
    clear: both;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0;
    background-color: #fc4e5e;
    font-family: "omnes-pro", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white; }
    div.login button:nth-child(odd) {
      background-color: #44619d; }

ul.grid {
  background-color: #252c3f;
  padding-left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 80px;
  color: white;
  text-transform: capitalize; }
  ul.grid li {
    width: 25%;
    float: left;
    height: 100% / 3;
    min-height: 220px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center; }
    ul.grid li:nth-child(4n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    ul.grid li:nth-child(4n + 2) {
      margin-left: 25%;
      margin-right: -100%;
      clear: none; }
    ul.grid li:nth-child(4n + 3) {
      margin-left: 50%;
      margin-right: -100%;
      clear: none; }
    ul.grid li:nth-child(4n + 4) {
      margin-left: 75%;
      margin-right: -100%;
      clear: none; }
    ul.grid li:hover {
      background-color: transparent !important; }
    ul.grid li:nth-child(1) {
      background-color: #a0b74e; }
    ul.grid li:nth-child(2) {
      background-color: #ee4441; }
    ul.grid li:nth-child(3) {
      background-color: #c4b397; }
    ul.grid li:nth-child(4) {
      background-color: #538eca; }
    ul.grid li:nth-child(5) {
      background-color: #252c3f; }
    ul.grid li:nth-child(6) {
      background-color: #9fa0a2; }
    ul.grid li:nth-child(7) {
      background-color: #44619d; }
    ul.grid li:nth-child(8) {
      background-color: #4ecdc4; }
    ul.grid li:nth-child(9) {
      background-color: #d2527f; }
    ul.grid li:nth-child(10) {
      background-color: #bf55ec; }
    ul.grid li:nth-child(11) {
      background-color: #fde3a7; }
    ul.grid li:nth-child(12) {
      background-color: #26a65b; }
    ul.grid li img {
      width: 74px;
      height: 70px;
      margin: auto; }

#slide1 {
  background-image: url("../img/mock/mockbg.jpg");
  background-position: center center;
  background-repeat: none;
  background-size: cover; }

#slide2 {
  background-image: url("../img/mock/mockbg2.jpg");
  background-position: center center;
  background-repeat: none;
  background-size: cover; }

.fp-controlArrow {
  width: 24px;
  height: 30px;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: .3; }

.fp-prev,
.fp-next {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.fp-prev {
  left: 30px;
  background-image: url(../img/icon-arrow-prev.svg); }

.fp-next {
  right: 30px;
  background-image: url(../img/icon-arrow-next.svg); }

.fp-prev:hover,
.fp-next:hover {
  opacity: 1;
  transform: scale(1.1); }

#statusbar {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: -82px;
  bottom: -460px;
  left: 0;
  background-color: rgba(28, 31, 36, 0.7);
  border-top: 2px #a0b74e solid;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: white;
  opacity: .8;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  #statusbar:hover {
    opacity: 1; }
  #statusbar #artistinfo {
    display: inline-block;
    width: 100px;
    margin-left: 44px;
    margin-top: -40px;
    height: 120px;
    text-align: center; }
    #statusbar #artistinfo img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid #dcd7cd;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out; }
    #statusbar #artistinfo:hover {
      cursor: pointer; }
    #statusbar #artistinfo:hover img {
      transform: scale(1.1);
      margin-top: -8px;
      margin-bottom: 8px; }
    #statusbar #artistinfo h6 {
      margin-top: -3px; }
  #statusbar #control-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 60%;
    height: 40px;
    min-width: 300px;
    margin-right: 10%; }
    #statusbar #control-wrapper button, #statusbar #control-wrapper svg {
      display: inline-block;
      background-position: center center;
      background-repeat: none;
      background-size: cover;
      background-color: transparent;
      cursor: pointer; }
    #statusbar #control-wrapper #button-control {
      width: 40px;
      height: 40px;
      background-image: url(../img/icon-pause.svg); }
      #statusbar #control-wrapper #button-control.paused {
        background-image: url(../img/icon-play.svg); }
    #statusbar #control-wrapper svg {
      width: 44px;
      height: 36px; }
      #statusbar #control-wrapper svg polygon, #statusbar #control-wrapper svg path {
        stroke: #DCD7CD;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      #statusbar #control-wrapper svg polygon {
        fill: #DCD7CD; }

#section0 h2 {
  color: white; }
#section0 input,
#section0 input:-webkit-autofill,
#section0 textarea:-webkit-autofill,
#section0 select:-webkit-autofill {
  background-color: #dcd7cd; }
#section0 input.btn {
  width: 300px;
  height: 60px;
  background-color: #fc4e5e;
  font-family: "omnes-pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white; }

#section2 div.ng-scope {
  width: 100%;
  height: 500px; }

#impossible {
  position: fixed;
  left: 500px;
  z-index: 99999999; }

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.carousel-control {
  width: 24px;
  height: 30px;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: .3; }
