<form class="form-auth login" ng-submit="login()">
	<h4>Log In</h4>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="user.username" placeholder="Username" class="form-control" style="background-color: white;">
	<input type="password" ng-model="user.password" placeholder="Password" class="form-control" style="background-color: white;">
	<input type="submit" value="Log in" class="btn btn-primary" />
	<p class="small">Don't have an account? <a href="#/signup">Sign up here</a></p>
</form>