<!-- <div class="clearfix">
  <form ng-Submit="post()" ng-show="authenticated">
    <h4>{{current_user}} </h4>
    <textarea required class="form-control" maxlength="200" rows="3" placeholder="copy link to your video!" ng-model="newPost.text"></textarea>
    <input class="btn submit-btn pull-right" type="submit" value="Add" />
    
    <form enctype = "multipart/form-data" action = "/api/upload_file" method = "post">
		<input type="file" name="userPhoto" />
		<input type="submit" value="Upload Image" name="submit">
	</form>

  </form>
</div>
<div id="post-stream">
	<h4>Chirp Feed</h4>
		<div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'"> 
			
			<iframe width="420" height="315" ng-src="{{trustSrc(post.text)}}" frameborder="0" allowfullscreen></iframe>

			<small>Posted by @{{post.created_by}}</small>
			<small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
		</div>
</div> -->